body {
    background-color: aquamarine;
}

.personAll {

}

.img-fluid {
    max-width: 100px; 
    height:auto;
}

.cartDiv {
    margin-left: 1200px;
    background-color: antiquewhite;
    padding: 50px;
    margin-top: -800px;
}